.container {
  background-color: rgb(165, 95, 95);
  width: 930px;
  /* centra horizontalmente */
  margin: 30px auto;
  display: grid;
  /* grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(2, 150px) 300px; */

  /* grid-template-columns: repeat(
    3,
    1fr
  ); */

  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: 50% 2fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  grid-gap: 50px;
}

.item {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item--1 {
  background-color: orange;
  /* grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3; */
  grid-row: 2/3;
  grid-column: 2/3;

  /* crea una fila fuera del flujo que no existe */
  /* grid-row: 2/3;
  grid-column: 2/4; */
}

.item--2 {
  background-color: green;
  /* ya no le digo de que columna a que columa, le digo que se ponga en la 2 y se expanda */
  grid-column: 2 /span 2;
  /* como esto se crea una nueva columna viuda/ automática */
  grid-column: 2 /span 3;
}

.item--3 {
  background-color: Violet;
  /* el violeta está encima del naranja, los hemos clavado como chinchetas */
  /* grid-row: 2/3;
  grid-column: 2/3; */
}

/* todos los elementos tienen un z-index: como las capas de posicion */

.item--4 {
  background-color: pink;
}

.item--5 {
  background-color: blue;
  /* grid-row: 1/2;
  grid-column: 3/4; */

  /* shortHand */
  /* 1 a 3 de alto, 3 a 4 de ancho */
  grid-area: 1/3/3/4;
}

.item--6 {
  background-color: brown;
}