* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fdfdfd;
}

/* header */
header {
  background-color: #000;
  color: white;
  text-align: left;
  padding: 2%;
  height: 100px;
  position: relative;
}

header img {
  width: 50px;
  float: left;
}

header h1 {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
  margin-top: 1%;
}

.buscar {
  position: absolute;
  right: 2%;
  top: 35%;
}

/* barra navegacion */
nav {
  background-color: #b3d9ff;
  text-align: left;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;        
  justify-content: flex-start;
  gap: 40px;            
  padding-left: 2%;   
}

nav ul li a {
  text-decoration: none;
  color: #003366;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

/* main */
main {
  flex: 70%;
  background-color: #ffcc66;
  padding: 20px;
}

/* aside */
aside {
  flex: 30%;
  background-color: #99e6ff;
  padding: 20px;
}

/* footer */
footer {
  background-color: #555;
  color: white;
  text-align: left;
  padding: 14px;
}













/* formulario */
form {
  max-width: 500px;
  margin: 20px auto;
  background: #fff3cd;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* contacto */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e0e0e0;
}
