.container {
  width: 90%;
  /* 90% respecto del contenedor padre, en este caso del body, tiene un padding y un margin que va cambiando, así que es el 90% 
  del body, no de la pantalla. si quiero que sea de la pantalla hay que resetear para que el body no tenga ningun margin ni padding !!*/
  margin: 30px auto;
  background-color: #ddd;
  display: grid;
  /* grid-template-rows: repeat(2, 150px); */
  grid-template-columns: max-content 1fr 1fr min-content;
  /* si aqui hubiera un min estiraria la columna pero hacia abajo */

  /* grid-template-rows: 150px min-content; */

  grid-template-rows: repeat(2, minmax(150px, min-content)); /* min-content tamaño minimo de la fila */
  grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
  /* rango minimo y maximo de una celda para que no haya overflow */

  /* max content estira el div o la col a la altura del texto que haya */
  /* static, float, table, flex y grid. sin float? el que mas tarde en renderizar no */
  /* 1 dimesion con flex; más con grid. el ejericio de los mundos se hace con flex !!! */




  /* auto-fit y auto-fill */
  /* division de 100px, depende de la pantalla saldran 4, 6, 8 etc. col */
  /* grid-template-columns: repeat(auto-fill, 100px); */

  /* grid-template-columns: repeat(auto-fit, 100px); */
  /* este ya no crea columans nuevas */

  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* columnas que se auto-ajustan en el tamaño, para el móvil */
  /* en vez de tres media-querys, haces 1 */

}


.item {
  padding: 20px;
  color: white;
  font-family: sans-serif;
  font: serif 30px;
  background-color: orangered;
}

  .item--1 {
    background-color: orangered;
  }
  .item--2 {
    background-color: yellowgreen;
  }
  .item--3 {
    background-color: blueviolet;
  }
  .item--4 {
    background-color: palevioletred;
  }
  .item--5 {
    background-color: royalblue;
  }
  .item--6 {
    background-color: goldenrod;
  }
  .item--7 {
    background-color: crimson;
  }
  .item--8 {
    background-color: darkslategray;
  }
