#contenedor {
  width: 960px;
  margin: 0 auto;
  border: 2px solid red;
}

#principal {
  width: 759px;
  float: left;
  background-color: #eee478;
  border-right: 1px solid #a6d8ed;
}

#aside {
  width: 200px;
  float: left;
}

#contenido {
    background-color: lightblue;
    background-repeat: repeat-y;
    overflow: auto;
    /* width: 960px; */
    /* lA IMAGEN ES UN PIXEL, ESTO S PARA HACER LA DIFERENCIACION DE COOLORES */
    background-image: url(columnas.png);
}

#pie {
  clear: both;
}

/* display: table */
/* flex-box */
/* in-line block */