
table { 
    border-collapse: collapse; 
    width: 70%; 
    margin: 20px auto; 
}

th, td { 
    border: 1px solid #aaa; 
    padding: 10px; 
    text-align: center; 
}

td:hover:not(.seleccion) { 
    background-color: #e0e0e0; 
    cursor: pointer; 
}

.seleccion { 
    background-color: orange !important; 
    color: white; 
    font-weight: bold; 
}

.flechas { 
    text-align: center; 
    margin-bottom: 10px; 
}
