.container {
    width: 1000px;
    margin: 30px auto;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    height: 1000px;
    justify-content: center;
    justify-content: space-between;
    align-content: center;
    /* grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; */

    grid-auto-rows: 80px;
    grid-auto-columns: 0.5fr;

    /* align-items: center; //stretch(es por defecto.),end,start.
    justify-items: center; //Alinea horizontalmente los elementos.//stretch(es por defecto.),end,start. */
}

.item {
    padding: 10px;
    color: white;
    font-size: 30px;
    background-color: orangered;
}

.item--4 {
    background-color: orchid;
    align-self: start;
    grid-row: 2 / span 3;
}

.item--7 {
    background-color: paleturquoise;
    /* de la liena 1 a la -1, a la ultima */
    /* fila implicita */
    grid-column: 1 / -1;
}







  


